.navigation-container{
    border-top: 4px solid #ED4C14;
    padding: 0;
    .banner-content{
        max-width: 145px;
        margin-left: 20px;
        margin-right: 0;
        img{
            width: 100%;
        }
    }
    .navigation-item{
        max-width: 1466px;
        width: 100%;
        p{
            margin-right: 60px;
            color: #8CA0B3;
            font-size: 16px;
            margin-bottom: 0;
            padding-top: 5px;
            padding-top: 15px;
            font-family: 'Source Sans Pro', sans-serif;
            span{
                color: #ED4C14;
            }
        }
        Form{
            margin-right: 20px;
            position: relative;
           input{
                width: 440px;
                border: none;
                background-color: #F5F5F5;
                font-family: 'Source Sans Pro', sans-serif;
                margin-top: 10px;
                &:focus{
                    box-shadow: none;
                }
           }
           .search-bar{
               position: absolute;
               top: 22px;
               right: 22px;
               color: #d2d0d0;
           }
        }
        .nav-link{
            color: #8CA0B3;
            font-size: 16px;
            padding: 15px 25px;
            font-family: 'Source Sans Pro', sans-serif;
            &:hover{
                color: #8CA0B3;
            }
        }
        .nav-link.active{
            font-size: 16px;
            color: #ED4C14;
        }
        .Buttons-holder{
            border-left: 1px solid #8ca0b359;
            border-right: 1px solid #8ca0b359;
            padding: 5px 10px;
            Button{
                background-color: #fff;
                border: none;
                color: #8CA0B3;
                padding: 0;
                margin: 0 10px;
                position: relative;
                margin-top: 10px;
                &:focus{
                    background: transparent;
                    color: #8CA0B3;
                    box-shadow: none;
                    outline: none;
                }
                .badge-style{
                    border-radius: 50%;
                    background-color: #ED4C14;
                    color: #fff;
                    font-size: 9px;
                    position: absolute;
                    top: 0px;
                    right: -7px;
                }
            }
        }
        .border-photo{
            width: 30px;
            height: 30px;
            border-radius: 5px;
            margin-left: 10px;
            margin-top: 10px;
            img{
                width: 100%;
            }
        }
        .name{
            color: #1B2539;
            font-size: 16px;
            font-family: 'Source Sans Pro', sans-serif;
            margin-left: 15px;
            margin-right: 15px;
        }
        .arrow-down{
            a{
                padding: 0;
                margin-top: 15px;
            }
            .dropdown-menu{
                position: absolute;
                left: -140px;
                text-align: center;
                .dropdown-item{
                    padding: 0;
                    margin-top: 0;
                }
            }
        }
    }
}