.buy-section{
    h1{
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        color: #32424E;
        text-transform: capitalize;
        margin-bottom: 10px;
    }
    .accordion{
        .card{
            border-radius: 0;
            border: 1px solid #fff;
            .card-header{
                padding: 5px 15px;
                .dot-text{
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    border: 2px solid #ED4C14;
                    display: inline-block;
                }
                .btn{
                    font-size: 20px;
                    color: #7E8F9F;
                    font-family: 'Roboto', sans-serif;
                    text-transform: uppercase;
                    text-decoration: none;
                }
                .ArrowDown{
                    float: right;
                }
            }
        }
    }
    .click-the-service{
        padding: 200px 0;
        width: 100%;
        background: #F5F5F5;
        color: #7E8F9F;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        border:none;
        &:focus{
            background: #F5F5F5;
            box-shadow: none;
            outline: none;
            border: none;
        }
        &:active{
            background-color: #F5F5F5!important;
            box-shadow: none;
            outline: none;
            border: none;
        }
        img{
            display: block;
            margin: 0 auto;
            max-width: 60px;
            width: 100%;
            margin-bottom: 20px;
        }
    }
}