.blue-box{
    .box-holder{
        background: url('./images/blue-effect.png') no-repeat;
        background-size: auto;
        background-position: center;
        padding: 11px 30px;
        border-radius: 5px;
        position: relative;
        margin-top: 20px;
        img{
            max-width: 140px;
            width: 100%;
            margin-right: 45px;
        }
        Button{
            background: transparent;
            font-size: 16px;
            border: none;
            &:focus{
                background: transparent;
                border: none;
                outline: none;
                box-shadow: none;
            }
            &:active{
                background: transparent;
                border: none;
                outline: none;
                box-shadow: none;
            }
            &:hover{
                background: transparent;
                border: none;
                outline: none;
                box-shadow: none;
            }
        }
        p{
            color: #fff;
            font-size: 14px;
        }
        h2{
            color: #fff;
            font-size: 20px;
            font-weight: bold;
        }
        h1{
            font-size: 40px;
            color: #fff;
            font-weight: lighter;
        }
        .icon-position{
            position: absolute;
            right: 35px;
            color: white;
            bottom: 35px;
        }
    }
}

.orange-box{
    @extend .blue-box;
    .box-holder{
        background: url('./images/orange-effect.png') no-repeat center;
        background-size: 370px;
    }
}

.green-box{
    @extend .blue-box;
    .box-holder{
        background: url('./images/green-effect.png') no-repeat center;
        background-size: 370px;
    }
}

.filters{
    position: absolute;
    top: -3px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
    text-align: center;
    .Today-box{
        display: inline-block;
        padding: 5px 20px;
        max-width: 100px;
        width: 100%;
        margin:0 8px;
        border-bottom: 3px solid #1E87F0;
        p{
            margin: 0;
            color: #8CA0B3;
            font-size: 14px;
        }
    }
    .Month-box{
        display: inline-block;
        padding: 5px 20px;
        max-width: 100px;
        width: 100%;
        margin:0 8px;
        border-bottom: 3px solid #FAA05A;
        p{
            margin: 0;
            color: #8CA0B3;
            font-size: 14px;
        }
    }
    .Year-box{
        display: inline-block;
        padding: 5px 20px;
        max-width: 100px;
        width: 100%;
        margin:0 8px;
        border-bottom: 3px solid #32D296;
        p{
            margin: 0;
            color: #8CA0B3;
            font-size: 14px;
        }
    }
}

.download-filters{
    max-width: 180px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 15px;
    text-align: center;
    top: -5px;
    .download-btn{
        background: #fff;
        max-width: 30px;
        width: 100%;
        padding: 5px;
        border: none;
        border-radius: 2px;
        right: 0;
        margin-right: 15px;
        &:focus{
            background: #fff;
            box-shadow: none;
            outline: none;
            border: none;
        }
        &:active{
            background-color: #fff!important;
            box-shadow: none!important;
            outline: none!important;
            border: none!important;
        }
        img{
            width: 100%;
        }
    }
    .filter-btn{
        color: #8CA0B3;
        max-width: 120px;
        margin-right: 0;
        @extend .download-btn;
        img{
            max-width: 16px;
            margin-left: 8px;
        }
    }
}