.fluid-width{
    max-width: 100%;
    border-bottom: 4px solid #ED4C14;
    background-color: #EDEEF0;
    .footer-handler{
        .text-section{
            p{
                font-size: 14px;
                font-family: 'Roboto', sans-serif;
                color: #8CA0B3;
                margin: 20px 0;
            }
        }
        .button-section{
            text-align: right;
            padding-top: 15px;
            .btn-group{
                &:focus{
                    outline: none;
                }
                .btn{
                    background: transparent;
                    border: none;
                    padding: 5px;
                    img{
                        max-width: 20px;
                        width: 100%;
                    }
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }
}