.title-handle{
    border-bottom: 1px solid #8ca0b33b;
    margin-top: 30px;
    padding-bottom: 10px;
    img{
        max-width: 30px;
        width: 100%;
        margin-right: 5px;
    }
    h1{
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        color: #32424E;
        display: inline;
    }
}
.menu-section{
    border: none;
    margin-top: 20px;
    .nav-item{
        max-width: 176px;
        width: 100%;
        padding: 80px 20px 10px;
        margin-right: 10px;
        border-radius: 7px;
        -webkit-box-shadow: 0px 2px 17px 2px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 0px 2px 17px 2px rgba(0, 0, 0, 0.18);
        box-shadow: 0px 2px 17px 2px rgba(0, 0, 0, 0.18);
        border: none;
        font-size: 18px;
        color: #8CA0B3;
        font-family: 'Roboto', sans-serif;
        position: relative;
        &:before{
            content: url('./images/Oval.png');
            display: inline-block;
            position: absolute;
            bottom: 12px;
            left: 10px;
        }
        &:nth-child(1){
            background: url('./images/message-bg.png') no-repeat;
            background-size: contain;
            background-color: #fff;
        }
        &:nth-child(2){
            background: url('./images/bill.png') no-repeat;
            background-size: contain;
            background-color: #fff;
        }
        &:nth-child(3){
            background: url('./images/setting.png') no-repeat;
            background-size: contain;
            background-color: #fff;
        }
        &:nth-child(4){
            background: url('./images/BarCode.png') no-repeat;
            background-size: contain;
            background-color: #fff;
        }
        &:nth-child(5){
            background: url('./images/shop.png') no-repeat;
            background-size: contain;
            background-color: #fff;
        }
        &:nth-child(6){
            background: url('./images/transation.png') no-repeat;
            background-size: contain;
            margin-right: 0;
            background-color: #fff;
        }
    }
}

.tab-content{
    background-color: #fff;
    margin-top: 40px;
    position: relative;
    -webkit-box-shadow: 0px 2px 17px 2px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 2px 17px 2px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 2px 17px 2px rgba(0, 0, 0, 0.18);
    padding: 35px 15px;
}

#menu-down-tabpane-buy{
    .arrow-up {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        position: absolute;
        top: -15px;
        right: 25%;
        border-bottom: 15px solid white;
    }
}

#menu-down-tabpane-launch{
    .arrow-up {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        position: absolute;
        top: -15px;
        left: 5%;
        border-bottom: 15px solid white;
    }
}

#menu-down-tabpane-charge{
    .arrow-up {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        position: absolute;
        top: -15px;
        left: 25%;
        border-bottom: 15px solid white;
    }
}

#menu-down-tabpane-settings{
    .arrow-up {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        position: absolute;
        top: -15px;
        left: 40%;
        border-bottom: 15px solid white;
    }
}

#menu-down-tabpane-code{
    .arrow-up {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        position: absolute;
        top: -15px;
        right: 40%;
        border-bottom: 15px solid white;
    }
}

#menu-down-tabpane-transactions{
    .arrow-up {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        position: absolute;
        top: -15px;
        right: 5%;
        border-bottom: 15px solid white;
    }
}

