.overview{
    margin-top: 25px;
    .open-close{
        background: transparent;
        border: none;
        color: #32424E;
        font-family: 'Roboto', sans-serif;
        padding: 5px 0;
        font-size: 24px;
        &:focus{
            background-color: transparent;
            box-shadow: none;
            outline: none;
            color: #32424E;
        }
        &:active{
            background-color: transparent!important;
            box-shadow: none!important;
            outline: none;
        }
        .first-icon{
            max-width: 40px;
            width: 100%;
            margin-right: 5px;
        }
        .arrow-up-down{
            margin-left: 15px;
            font-size: 17px;
            color: #6B6B6B;
        }
    }
    .open-close[aria-expanded="false"]{
        .arrow-up-down{
            transform: rotate(0);
            transition: 0.5s ease-in-out;
        }
    }
    .open-close[aria-expanded="true"]{
        .arrow-up-down{
            transform: rotate(180deg);
            transition: 0.5s ease-in-out;
        }
    }
    .collapse-section{
        border-top: 1px solid #8ca0b347;
    }
    .fade:not(.show){
        height: 0;
        transition: height 1s ease-in-out;
    }
}

.background-changer{
    background: #EDEEF0;
}